// Primarys
$moderate-blue: hsl(238, 40%, 52%);
$soft-red: hsl(358, 79%, 66%);
$light-gray-blue: hsl(239, 57%, 85%);
$pale-red: hsl(357, 100%, 86%);
// Neutrals
$dark-blue: hsl(212, 24%, 26%);
$grayish-blue: hsl(211, 10%, 45%);
$light-gray: hsl(223, 19%, 93%);
$very-light-gray: hsl(228, 33%, 97%);
$white: hsl(0, 0%, 100%);

.posted-reply-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $white;
  width: 500px;
  height: 120px;
  border-radius: 10px;
  padding: 10px 25px 10px 25px;
  margin-top: 20px;
  margin-left: auto;
}

.prf-form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.prf-form-field {
  border-color: $light-gray;
  border-radius: 10px;
  padding: 10px;
  height: 80px;
  width: 325px;
  resize: none;
  font-family: "Rubik", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: $grayish-blue;
}

.prf-form-field:focus {
  outline: 1px solid $moderate-blue;
  cursor: pointer;
}

.prf-btn {
  height: 42px;
  width: 90px;
  background-color: $moderate-blue;
  color: $white;
  border: none;
  border-radius: 8px;
  margin-left: 10px;
  font-family: "Rubik,", sans-serif;
}

@media (max-width: 375px) {
  .posted-reply-form {
    flex-direction: column-reverse;
    width: 280px;
    height: 120px;
  }

  .prf-form-field {
    position: relative;
    left: 50px;
    top: 50px;
    height: 60px;
    width: 290px;
    resize: none;
  }

  .prf-btn {
    position: relative;
    top: 135px;
    right: 50px;
  }
}
